<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{%endblock%}</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>


<!-- Este arquivo está utilizando uma estrutura html padrão. Onde tem os 'blocks' são campos que eu posso preencher da forma que preferir
apenas chamando em outros arquivos, como vocês poderão ver nos demais templates. Qualquer valor que for adicionado dentro de um block
ficará salvo naquele arquivo especifico. Basicamente todos os demais templates irão herdar esta estrutura, assim evitando que seja preciso
refazer esta estrutura para cada arquivo html -->